fastapi>=0.108.0
fastui>=0.4.0
pydantic>=2.5.0
uvicorn>=0.25.0
sqlalchemy>=2.0.20
psycopg2>=2.9.9
starlette>=0.29.0,<0.33.0
aiofiles>=23.2.1
Jinja2==3.0.3
matplotlib>=3.8.2
mpld3>=0.5.10
python-multipart>=0.0.6
pandas>=2.1.4
pandas_datareader>=0.10.0
yfinance>=0.2.35
requests>=2.31.0
lxml>=5.1.0
httpx>=0.26.0
